{% extends 'base.html' %}


{% block title %} inbox {% endblock title %}
{% block content %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">Inbox</h2>
    </div>
  </div>
</div>

{% for convo in convos %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <b> Conversation with: {{convo}}</b>
      <a class="btn btn-link my-2 my-sm-0"
         href="{% url 'message-view' convo %}"
         role="button"> Go to conversation with
        {{convo}}</a>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock content %}