{% extends 'base.html' %}

{% block title %} Messages {% endblock title %}
{% block content %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">Convo between {{request.user.username}} and {{user}} </h2>
    </div>
  </div>
</div>

{% for single_message in all_messages %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <b> Sender: {{single_message.sender}}</b>
      <p>{{single_message.message}}</p>
    </div>
  </div>
</div>
{% endfor %}

<div class="content-section">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">Send message to {{ user.username }}</h2>
      <form method="POST">
        {% csrf_token %}
        {{form }}
        <button class="btn btn-outline-info"
                type='submit'>Send message</button>
      </form>



    </div>
  </div>
</div>

{% endblock content %}