{% extends 'base.html' %} {% block title %}User Profile {% endblock title %}
{% block content %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
      <form method="POST">
        {% csrf_token %} {% if request.user != user and can_review %}
        Choose the score you want to give to this user and click submit review
        <br>
        {{ reviewform }}
        <button class="btn btn-outline-info"
                name="review"
                type="submit">
          Submit Review
        </button>
      </form>
      {% endif %} {%if request.user != user and request.user.is_authenticated%}
      <a class="btn btn-link my-2 my-sm-0"
         href="{% url 'message-view' user.username %}"
         role="button">
        Send message to {{user.username}}</a>
      {%endif%} {%if request.user == user%}
      <a class="btn btn-link my-2 my-sm-0"
         href="{% url 'inbox-view' user.username %}"
         role="button">
        Go to your inbox</a>
      {% endif %}
    </div>
  </div>
</div>
<p>This users average score is: {{score}}</p>
{% endblock content %}