{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Register{% endblock %}

{% block content %}
<h2>Sign up</h2>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit">Sign up</button>
</form>
{% endblock %}