.wrapping-link {
  color: inherit;
}

.open-project-view-item:hover {
  color: grey;
  box-shadow: 0 0 1px gray;
  text-decoration: none;
}
.open-project-view-item {
  color: black;
}

.project-description {
  word-break: break-all;
}

.project-image {
  width: 100px;
  height: 100px;
}

.project-box-style {
  border: solid gray 1px;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
}

.projects-view {
  margin: auto;
}

.honey {
  height: 50px;
  width: 50px;
}

.offerer-taskoffer-status {
  list-style-type: none;
}

.new-task-input {
  width: 80%;
}

.per td {
  padding: 5px;
}

.per label {
  display: block;
}

.per table {
  border-collapse: collapse;
}

.per table,
.per th,
.per td {
  border: 1px solid black;
}

.permis {
  max-width: 1000px;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
